
<%= current_user.email %>

<% current_user.events.each do |e| %>
  <%= e.name %>
<% end %>

<div>
  <p class="text-danger">
    <%= current_user.admin ? "You are Admin, do everything you want!" : nil %></p>
</div>